@using System.ComponentModel;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="@Model.GetCultureFromDomains()" class="h-100">
	<head>
		    <meta charset="utf-8">
			    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			@{
				if (Model.HasValue("sEOTitle"))
				{
					@("seo title ")
					@Model.Value("sEOTitle");
				}
				else 
				{
					@Model.Value("pageTitle");
				}
			}
		</title>
		<meta name="description" content="@Model.Value("sEODescription")">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
	</head>

<body id="body" class="d-flex flex-column h-100" data-mbkey="@(await Component.InvokeAsync("MapboxScript"))">
	<main class="flex-shrink-0">
		@Html.Partial("/Views/Partials/Widgets/MainMenu.cshtml")

		<div class="container">
		@Html.Partial("Partials/Widgets/SiteStructure/Header.cshtml")

			@RenderBody()

	
@*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce turpis tortor, interdum id feugiat vitae, gravida nec velit. Aliquam id sem et purus fringilla aliquet. Nullam posuere egestas sem nec consectetur. Donec rutrum tempor ornare. Mauris accumsan ex non massa varius pellentesque. Nulla libero ipsum, venenatis at interdum nec, eleifend vitae mauris. Maecenas in felis nisl. Nulla lorem arcu, suscipit id condimentum sit amet, rutrum in nunc. Duis ullamcorper lectus id ante dictum sollicitudin. In a tortor rutrum, suscipit justo in, sagittis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque commodo lacus in lacus congue, vel eleifend augue sodales. Maecenas eu tortor eu nisl tincidunt tincidunt nec nec est. Sed ut hendrerit lorem.
</p><p>
Donec lacus nisl, fringilla quis turpis eu, congue bibendum nibh. Maecenas egestas eget eros eu venenatis. Fusce nibh lectus, euismod sagittis velit in, consectetur tempor mi. Vestibulum consectetur eu sem eget convallis. Praesent eu molestie velit. Nullam posuere quam non quam blandit convallis. Nulla consectetur volutpat accumsan. Sed eleifend volutpat purus, mollis interdum sapien dapibus eget. Quisque volutpat sodales augue ac semper. Integer aliquam libero et sapien pretium, rutrum dictum nulla finibus. Donec sodales erat sit amet nibh consequat, sed molestie enim euismod.
</p><p>

Nunc condimentum lacus vel eros rhoncus fringilla. Ut eget leo posuere, hendrerit urna sit amet, sollicitudin risus. Integer porttitor leo ligula. Vivamus et odio nisi. Morbi sit amet dolor non libero congue accumsan. Mauris ut magna urna. Cras ultricies, lorem id ornare molestie, urna justo mattis metus, nec vehicula justo turpis vitae elit. Cras ullamcorper mattis enim eget rhoncus. In consectetur volutpat est. Pellentesque vestibulum ante nec tortor efficitur, eget fringilla ex tristique. Morbi iaculis facilisis orci id posuere. Fusce convallis scelerisque arcu, ac finibus urna aliquet ut.
</p><p>

Cras efficitur justo at nisl facilisis finibus. Quisque malesuada velit porta arcu dictum fermentum. Sed viverra augue neque, eu hendrerit sapien bibendum at. Phasellus ut ex eu quam placerat dapibus. Donec sed ligula a mauris vestibulum malesuada. Vestibulum tempus mauris dui, sit amet ultrices elit fringilla in. Pellentesque fermentum tristique nulla, aliquam sodales ligula feugiat quis. Praesent ac interdum urna. Pellentesque sit amet eros finibus, sagittis magna semper, interdum est. Sed porttitor dui erat, in consequat quam dignissim vel. Cras porttitor dui ut lectus porttitor feugiat.
</p><p>

Sed ultrices lacinia leo ut finibus. Phasellus vitae volutpat ante. Cras orci erat, rhoncus vel mi at, tempus placerat erat. Donec felis turpis, cursus ac maximus a, egestas vitae ipsum. Sed placerat blandit arcu id euismod. Curabitur tempor, justo quis blandit auctor, nulla dui maximus lectus, eget dignissim ante tellus et nunc. Vestibulum vulputate tincidunt ultrices. Suspendisse dignissim risus risus, ac cursus felis iaculis nec. Donec egestas purus vel justo ornare, nec aliquam neque scelerisque. Pellentesque quam enim, accumsan ut nulla sit amet, vestibulum mollis ligula. 
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce turpis tortor, interdum id feugiat vitae, gravida nec velit. Aliquam id sem et purus fringilla aliquet. Nullam posuere egestas sem nec consectetur. Donec rutrum tempor ornare. Mauris accumsan ex non massa varius pellentesque. Nulla libero ipsum, venenatis at interdum nec, eleifend vitae mauris. Maecenas in felis nisl. Nulla lorem arcu, suscipit id condimentum sit amet, rutrum in nunc. Duis ullamcorper lectus id ante dictum sollicitudin. In a tortor rutrum, suscipit justo in, sagittis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque commodo lacus in lacus congue, vel eleifend augue sodales. Maecenas eu tortor eu nisl tincidunt tincidunt nec nec est. Sed ut hendrerit lorem.
</p><p>
Donec lacus nisl, fringilla quis turpis eu, congue bibendum nibh. Maecenas egestas eget eros eu venenatis. Fusce nibh lectus, euismod sagittis velit in, consectetur tempor mi. Vestibulum consectetur eu sem eget convallis. Praesent eu molestie velit. Nullam posuere quam non quam blandit convallis. Nulla consectetur volutpat accumsan. Sed eleifend volutpat purus, mollis interdum sapien dapibus eget. Quisque volutpat sodales augue ac semper. Integer aliquam libero et sapien pretium, rutrum dictum nulla finibus. Donec sodales erat sit amet nibh consequat, sed molestie enim euismod.
</p><p>

Nunc condimentum lacus vel eros rhoncus fringilla. Ut eget leo posuere, hendrerit urna sit amet, sollicitudin risus. Integer porttitor leo ligula. Vivamus et odio nisi. Morbi sit amet dolor non libero congue accumsan. Mauris ut magna urna. Cras ultricies, lorem id ornare molestie, urna justo mattis metus, nec vehicula justo turpis vitae elit. Cras ullamcorper mattis enim eget rhoncus. In consectetur volutpat est. Pellentesque vestibulum ante nec tortor efficitur, eget fringilla ex tristique. Morbi iaculis facilisis orci id posuere. Fusce convallis scelerisque arcu, ac finibus urna aliquet ut.
</p><p>

Cras efficitur justo at nisl facilisis finibus. Quisque malesuada velit porta arcu dictum fermentum. Sed viverra augue neque, eu hendrerit sapien bibendum at. Phasellus ut ex eu quam placerat dapibus. Donec sed ligula a mauris vestibulum malesuada. Vestibulum tempus mauris dui, sit amet ultrices elit fringilla in. Pellentesque fermentum tristique nulla, aliquam sodales ligula feugiat quis. Praesent ac interdum urna. Pellentesque sit amet eros finibus, sagittis magna semper, interdum est. Sed porttitor dui erat, in consequat quam dignissim vel. Cras porttitor dui ut lectus porttitor feugiat.
</p><p>

Sed ultrices lacinia leo ut finibus. Phasellus vitae volutpat ante. Cras orci erat, rhoncus vel mi at, tempus placerat erat. Donec felis turpis, cursus ac maximus a, egestas vitae ipsum. Sed placerat blandit arcu id euismod. Curabitur tempor, justo quis blandit auctor, nulla dui maximus lectus, eget dignissim ante tellus et nunc. Vestibulum vulputate tincidunt ultrices. Suspendisse dignissim risus risus, ac cursus felis iaculis nec. Donec egestas purus vel justo ornare, nec aliquam neque scelerisque. Pellentesque quam enim, accumsan ut nulla sit amet, vestibulum mollis ligula. 
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce turpis tortor, interdum id feugiat vitae, gravida nec velit. Aliquam id sem et purus fringilla aliquet. Nullam posuere egestas sem nec consectetur. Donec rutrum tempor ornare. Mauris accumsan ex non massa varius pellentesque. Nulla libero ipsum, venenatis at interdum nec, eleifend vitae mauris. Maecenas in felis nisl. Nulla lorem arcu, suscipit id condimentum sit amet, rutrum in nunc. Duis ullamcorper lectus id ante dictum sollicitudin. In a tortor rutrum, suscipit justo in, sagittis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque commodo lacus in lacus congue, vel eleifend augue sodales. Maecenas eu tortor eu nisl tincidunt tincidunt nec nec est. Sed ut hendrerit lorem.
</p><p>
Donec lacus nisl, fringilla quis turpis eu, congue bibendum nibh. Maecenas egestas eget eros eu venenatis. Fusce nibh lectus, euismod sagittis velit in, consectetur tempor mi. Vestibulum consectetur eu sem eget convallis. Praesent eu molestie velit. Nullam posuere quam non quam blandit convallis. Nulla consectetur volutpat accumsan. Sed eleifend volutpat purus, mollis interdum sapien dapibus eget. Quisque volutpat sodales augue ac semper. Integer aliquam libero et sapien pretium, rutrum dictum nulla finibus. Donec sodales erat sit amet nibh consequat, sed molestie enim euismod.
</p><p>

Nunc condimentum lacus vel eros rhoncus fringilla. Ut eget leo posuere, hendrerit urna sit amet, sollicitudin risus. Integer porttitor leo ligula. Vivamus et odio nisi. Morbi sit amet dolor non libero congue accumsan. Mauris ut magna urna. Cras ultricies, lorem id ornare molestie, urna justo mattis metus, nec vehicula justo turpis vitae elit. Cras ullamcorper mattis enim eget rhoncus. In consectetur volutpat est. Pellentesque vestibulum ante nec tortor efficitur, eget fringilla ex tristique. Morbi iaculis facilisis orci id posuere. Fusce convallis scelerisque arcu, ac finibus urna aliquet ut.
</p><p>

Cras efficitur justo at nisl facilisis finibus. Quisque malesuada velit porta arcu dictum fermentum. Sed viverra augue neque, eu hendrerit sapien bibendum at. Phasellus ut ex eu quam placerat dapibus. Donec sed ligula a mauris vestibulum malesuada. Vestibulum tempus mauris dui, sit amet ultrices elit fringilla in. Pellentesque fermentum tristique nulla, aliquam sodales ligula feugiat quis. Praesent ac interdum urna. Pellentesque sit amet eros finibus, sagittis magna semper, interdum est. Sed porttitor dui erat, in consequat quam dignissim vel. Cras porttitor dui ut lectus porttitor feugiat.
</p><p>

Sed ultrices lacinia leo ut finibus. Phasellus vitae volutpat ante. Cras orci erat, rhoncus vel mi at, tempus placerat erat. Donec felis turpis, cursus ac maximus a, egestas vitae ipsum. Sed placerat blandit arcu id euismod. Curabitur tempor, justo quis blandit auctor, nulla dui maximus lectus, eget dignissim ante tellus et nunc. Vestibulum vulputate tincidunt ultrices. Suspendisse dignissim risus risus, ac cursus felis iaculis nec. Donec egestas purus vel justo ornare, nec aliquam neque scelerisque. Pellentesque quam enim, accumsan ut nulla sit amet, vestibulum mollis ligula. 
</p>*@
	</main>
			@Html.Partial("Partials/Widgets/SiteStructure/Footer.cshtml")
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
		
		@*scripts/mapbox.js must be at the end of the document*@
		<script src="/scripts/mapbox.js"></script>
	</body>

</html>