@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="@Model.GetCultureFromDomains()">
	<head>
		<title>
			@{
				if (Model.HasValue("sEOTitle"))
				{
					@("seo title ")
					@Model.Value("sEOTitle");
				}
				else 
				{
					@Model.Value("pageTitle");
				}
			}
		</title>
		<meta name="description" content="@Model.Value("sEODescription")">

	</head>

	<body>

		@Html.Partial("Partials/Widgets/SiteStructure/Header.cshtml")


		@RenderBody()


		@Html.Partial("Partials/Widgets/SiteStructure/Footer.cshtml")
	</body>

</html>