@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Master.cshtml";
}




<h2>National Emissions</h2>
@foreach (var child in Model.Ancestor<Site>().Children<RegionCollection>().FirstOrDefault().Children<RegionSingle>()) 
	{
	<p>
		<a href="@child.Url()">@child.PageTitle</a>
	</p>
	}




<h2>Corporate Emissions</h2>

@foreach (var child in Model.Ancestor<Site>().Children<CompanyCollection>().FirstOrDefault().Children<CompanySingle>()) 
	{
	<p>
		<a href="@child.Url()">
			@child.PageTitle
			</a>
	</p>
	}




<h2>Asset Emissions</h2>

@foreach (var child in Model.Ancestor<Site>().Children<AssetCollection>().FirstOrDefault().Children<AssetSingle>()) 
	{
	<p>
		<a href="@child.Url()">@child.PageTitle</a>
	</p>
	}
