@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Master.cshtml";
}




<h2>National Emissions</h2>
@foreach (var child in Model.Children<CountryCollection>().First().Children<Country>()) 
	{
	<p>
		<a href="@child.Url()">@child.PageTitle</a>
	</p>
	}




<h2>Corporate Emissions</h2>

@foreach (var child in Model.Children<CompanyCollection>().First().Children<Company>()) 
	{
	<p>
		<a href="@child.Url()">
			@child.PageTitle
			</a>
	</p>
	}




<h2>Asset Emissions</h2>

@foreach (var child in Model.Children<AssetCollection>().First().Children<Asset>()) 
	{
	<p>
		<a href="@child.Url()">@child.PageTitle</a>
	</p>
	}
